body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden;
}

.title-screen {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-screen__img {
    height: 700px;
}

.level, .level__img {
    height: 700px;
}

.level {
    position: relative;
    display: none;
}

.level__img {
    display: inherit;
}

.donkey-kong {
    position: absolute;
    top: 74px;
    left: 110px;
    width: 150px;
    height: 150px;
    background-image: url(https://res.cloudinary.com/leonemil/image/upload/v1578182612/Donkey%20kong/donkey-kong_obbc3j.gif);
    background-size: contain;
    background-repeat: no-repeat;
}

.mario {
    position: absolute;
    top: 605px;
    left: 160px;
    width: 50px;
    height: 45px;
    background-image: url(https://res.cloudinary.com/leonemil/image/upload/v1578182613/Donkey%20kong/mario-walking-front_xtmzwq.png);
    background-position-x: left;
}

.mario--back{
    background-image: url(https://res.cloudinary.com/leonemil/image/upload/v1578182613/Donkey%20kong/mario-walking-back_xjubfp.png);
}

.mario--walking {
    animation: walking .4s steps(1) infinite;
}

@keyframes walking {
    0%{
        background-position-x: left;
    }

    30% {

        background-position-x: center;
    }
    
    60% {
        background-position-x: right;

    }
}

/* Game */

body, .screen {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #bf360c;
  background-image: url('data:image/svg+xml,%3Csvg width="42" height="44" viewBox="0 0 42 44" xmlns="http://www.w3.org/2000/svg"%3E%3Cg id="Page-1" fill="none" fill-rule="evenodd"%3E%3Cg id="brick-wall" fill="%23000000" fill-opacity="0.2"%3E%3Cpath d="M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
  background-attachment: scroll;
}
body::after, .screen::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: radial-gradient(ellipse at top, transparent 0, rgba(0, 0, 0, 0.8) 70%);
  pointer-events: none;
  mix-blend-mode: lighten;
}

.a-message {
  flex: 1 0 100%;
  text-align: center;
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  color: white;
  text-shadow: 1px 1px 0 black;
  margin: 16px 0;
}

.m-posterContainer {
  margin: 0px 60px 140px;
  cursor: pointer;
}

.a-toggle {
  display: none;
}

.o-poster {
  position: relative;
}

.m-frame {
  padding: 16px;
  background-color: #4e342e;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='#000000' fill-opacity='0.1'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
  box-shadow: 0 10px 16px 2px rgba(0, 0, 0, 0.8);
}
.a-toggle:checked + .o-poster .m-frame {
  -webkit-animation: frameLightFlickering 7s infinite;
          animation: frameLightFlickering 7s infinite;
}

.m-poster {
  box-shadow: inset 0 0 8px 0;
}

.a-poster {
  -webkit-filter: brightness(0.4);
          filter: brightness(0.4);
  height: 340px;
}
.a-poster::-moz-selection {
  background: transparent;
  color: transparent;
}
.a-poster::selection {
  background: transparent;
  color: transparent;
}
.a-toggle:checked + .o-poster .a-poster {
  -webkit-animation-name: posterLightFlickering;
          animation-name: posterLightFlickering;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.m-posterContainer:nth-of-type(1) .a-poster {
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}
.m-posterContainer:nth-of-type(2) .a-poster {
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}
.m-posterContainer:nth-of-type(3) .a-poster {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

.m-lightToggle {
  -webkit-filter: drop-shadow(0 6px 2px);
          filter: drop-shadow(0 6px 2px);
  position: absolute;
  top: 100%;
  left: 85%;
}

.a-wire {
  display: block;
  width: 2px;
  height: 80px;
  background-color: #333;
  position: relative;
  cursor: pointer;
  transition: height 0.2s ease;
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transform: rotate(-0.5deg);
          transform: rotate(-0.5deg);
  -webkit-animation: wirePendulum 2s infinite;
          animation: wirePendulum 2s infinite;
}
.m-posterContainer:nth-of-type(1) .a-wire {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.m-posterContainer:nth-of-type(3) .a-wire {
  -webkit-animation-delay: 1;
          animation-delay: 1;
}
.a-wire:after {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: transparent;
  box-shadow: inset 0 0 3px 1px, inset 0 0 0 3px white;
  display: block;
  position: absolute;
  top: 100%;
  left: -7px;
}
.a-wire:active {
  height: 88px;
}

@-webkit-keyframes posterLightFlickering {
  0%,
  14%,
  14.2%,
  49.6%,
  51%,
  52%,
  52.2%,
  100% {
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }
  14.1%,
  49.7%,
  52.1% {
    -webkit-filter: brightness(0.4);
            filter: brightness(0.4);
  }
}

@keyframes posterLightFlickering {
  0%,
  14%,
  14.2%,
  49.6%,
  51%,
  52%,
  52.2%,
  100% {
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }
  14.1%,
  49.7%,
  52.1% {
    -webkit-filter: brightness(0.4);
            filter: brightness(0.4);
  }
}
@-webkit-keyframes frameLightFlickering {
  0%,
  14%,
  14.2%,
  49.6%,
  51%,
  52%,
  52.2%,
  100% {
    box-shadow: 0 10px 16px 2px rgba(0, 0, 0, 0.8), 0 0 12px rgba(0, 0, 0, 0.8), 0 0 100px 0 rgba(255, 255, 238, 0.4);
  }
  14.1%,
  49.7%,
  52.1% {
    box-shadow: 0 10px 16px 2px rgba(0, 0, 0, 0.8);
  }
}
@keyframes frameLightFlickering {
  0%,
  14%,
  14.2%,
  49.6%,
  51%,
  52%,
  52.2%,
  100% {
    box-shadow: 0 10px 16px 2px rgba(0, 0, 0, 0.8), 0 0 12px rgba(0, 0, 0, 0.8), 0 0 100px 0 rgba(255, 255, 238, 0.4);
  }
  14.1%,
  49.7%,
  52.1% {
    box-shadow: 0 10px 16px 2px rgba(0, 0, 0, 0.8);
  }
}
@-webkit-keyframes wirePendulum {
  0%,
  100% {
    -webkit-transform: rotate(-0.5deg);
            transform: rotate(-0.5deg);
  }
  50% {
    -webkit-transform: rotate(0.5deg);
            transform: rotate(0.5deg);
  }
}
@keyframes wirePendulum {
  0%,
  100% {
    -webkit-transform: rotate(-0.5deg);
            transform: rotate(-0.5deg);
  }
  50% {
    -webkit-transform: rotate(0.5deg);
            transform: rotate(0.5deg);
  }
}
